<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-12'>
                <div class='card'>
                    <div class='card-header'>Detail Produk</div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label htmlFor='nama_produk'>Nama Produk</label>
                            <input type="text" class="form-control" id="nama_produk" v-model="produk.nama_produk">
                        </div>
                        <div class='form-group'>
                            <label htmlFor='nama_produk'>Kategori</label>
                            <input type="text" class="form-control" id="kategori" v-model="produk.kategori">
                        </div>
                        <div class='form-group'>
                            <label htmlFor='nama_produk'>Harga</label>
                            <input type="text" class="form-control" id="harga" v-model="produk.harga">
                        </div>
                        <div class='form-group'>
                            <label htmlFor='keterangan'>Keterangan</label>
                            <textarea type="text" class="form-control" id="keterangan" v-model="produk.keterangan" rows="5"></textarea>
                        </div>
                        <div class='form-group'>
                            <label htmlFor='nama_produk'>Status</label>
                            <input type="text" class="form-control" id="status" v-model="produk.status">
                        </div>
                        <div class='form-group'>
                            <router-link :to="{ name: 'home' }" class="btn btn-secondary">Back</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            produk:{},
        }
    },
    created() {
        let uri = `/api/produk/show/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.produk = response.data;
        });
    },
    method: {
 
    }
  }
</script>