<template>
    <div class='container py-4'>
        <div class='row justify-keterangan-center'>
            <div class='col-md-12'>
                <div class='card'>
                    <div class='card-header'>Create Produk</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="createProduk">
                            <div class='form-group'>
                                <label htmlFor='nama_produk'>Nama Produk</label>
                                <input type="text" class="form-control" id="nama_produk" v-model="produk.nama_produk">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='nama_produk'>Kategori</label>
                                <input type="text" class="form-control" id="kategori" v-model="produk.kategori">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='nama_produk'>Harga</label>
                                <input type="text" class="form-control" id="harga" v-model="produk.harga">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='keterangan'>Keterangan</label>
                                <textarea type="text" class="form-control" id="keterangan" v-model="produk.keterangan" rows="5"></textarea>
                            </div>
                            <div class='form-group'>
                                <label htmlFor='nama_produk'>Status</label>
                                <input type="text" class="form-control" id="status" v-model="produk.status">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'home' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                produk:{},
                errors: [],
                nama_produk: null,
                kategori: null,
                harga: null,
                keterangan: null,
                status: null
            }
        },
        methods: {
            createProduk(e){
                 
                if (this.$data.produk.nama_produk != null && this.$data.produk.keterangan != null && this.$data.produk.kategori != null && this.$data.produk.harga != null && this.$data.produk.status != null) {
                    this.$swal.fire({
                        title: 'Success',
                        text: "Produk created successfully",
                        icon: 'success',
                        timer: 1000
                    })
                    let uri = '/api/produk/store';
                    this.axios.post(uri, this.produk).then((response) => {
                        this.$router.push({name: 'home'});
                    });
                    return true;
                }
 
                this.errors = [];
 
                if (!this.nama_produk) {
                    this.errors.push('Nama Produk wajib diisi !');
                }
                if (!this.kategori) {
                    this.errors.push('Kategori Produk wajib diisi !');
                }
                if (!this.harga) {
                    this.errors.push('Harga Produk wajib diisi !');
                }
                if (!this.keterangan) {
                    this.errors.push('Keterangan Produk wajib diisi !');
                }
                if (!this.status) {
                    this.errors.push('Status Produk wajib diisi !');
                }
                e.preventDefault();
            }
        }
    }
</script>
